{% extends "StoreBackendBundle::layout.html.twig" %}
{% block classtitle %}plane{% endblock %}
{% block titlepage %}
    Fournisseurs
{% endblock %}
{% block content %}
    <div class="row-fluid clearfix padding-sm no-padding-hr">
        <a href="{{ path("store_backend_supplier_new") }}" class="btn btn-danger pull-right btn-labeled">
            Ajouter un fournisseur
        </a>
    </div>
    <div class="table-primary table table-bordered">
        <div class="table-info">
            <span>Total: {{ suppliers.getTotalItemCount }}</span>
            <table class="table table-bordered text-center" style="word-wrap: break-word;">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Actif</th>
                    <th>Date actif</th>
                    <th>Produits </th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody style="word-break: break-all;word-break: break-word;">
                {% for supplier in suppliers %}
                    <tr>
                        <td><a href="{{ path('store_backend_supplier_view',{'id' : supplier.id,'name' : supplier.name}) }}">{{ supplier.id }}</a></td>
                        <td><a href="{{ path('store_backend_supplier_view',{'id' : supplier.id,'name' : supplier.name}) }}">{{ supplier.name }}</a></td>
                        <td>{{ supplier.description }}</td>
                        <td><img src="{{ supplier.image }}" alt=""/></td>
                        <td class="activable-element">
                            {% set path_a = path('store_backend_supplier_activate',{id : supplier.id,active: 1}) %}
                            {% set path_b = path('store_backend_supplier_activate',{id : supplier.id,active: 0}) %}
                            {{  supplier.active|active(path_a, path_b)|raw }}
                        </td>
                        <td>{{ supplier.dateCreated|date('d/m/Y') }}</td>
                        <td>
                            <span class="label label-info"> {{ supplier.product|length }} </span>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"></i>&nbsp;Actions&nbsp;<i class="fa fa-caret-down"></i></button>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('store_backend_supplier_view',{'id' : supplier.id,'name' : supplier.name}) }}"><i class="fa fa-search"></i>Voir</a></li>
                                    <li><a href="{{ path('store_backend_supplier_edit',{id: supplier.id}) }}"><i class="fa fa-pencil"></i>Editer</a></li>
                                    <li><a href="{{ path('store_backend_supplier_delete',{id: supplier.id}) }}"><i class="fa fa-times"></i>Supprimer</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% else %}
                    <div class="alert alert-dark">Aucunes pages fournisseurs.</div>
                {% endfor %}
                </tbody>
            </table>
            <div class="text-center navigation">
                {{ knp_pagination_render(suppliers) }}
            </div>
        </div>
    </div>
{% endblock %}