{% extends 'StoreBackendBundle::layout.html.twig' %}
{% block classtitle %}bookmark{% endblock %}
{% block titlepage %}
    &nbsp;&nbsp;Liste de mes produits
{% endblock %}

{% block content %}
    <div class="row-fluid clearfix padding-sm no-padding-hr">
        <a href="{{ path("store_backend_product_new") }}" class="btn btn-danger pull-right btn-labeled">
            Ajouter un produit
        </a>
    </div>
<div class="table-primary table table-bordered">
    <div class="table-info">
        <table class="table table-bordered" style="table-layout: fixed;">
            <thead>
            <tr>
                <th>Id</th>
                <th>Réference</th>
                <th>titre</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Actif</th>
                <th>Date actif</th>
                <th>Categories </th>
                <th>Fournisseurs</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td><a href="{{ path('store_backend_product_view',{'id' : product.id,'name' : product.title}) }}">{{ product.id }}</a></td>
                    <td>{{ product.ref }}</td>
                    <td><a href="{{ path('store_backend_product_view',{'id' : product.id,'name' : product.title}) }}">{{ product.title }}</a></td>
                    <td class="col-md-3">{{ product.summary | striptags }}</td>
                    <td><strong>{{ product.price }} € ~</strong> Taxe: {{ product.taxe }}</td>
                    <td>{{ product.quantity }}</td>
                    <td class="activate-product">
                        {% if product.active %}
                            <a href="{{ path('store_backend_product_activate',{id : product.id,active: 0}) }}"><i class="fa fa-check"></i></a>
                        {% else %}
                            <a href="{{ path('store_backend_product_activate',{id : product.id, active: 1}) }}"><i class="fa fa-times"></i></a>
                        {% endif %}
                    </td>
                    <td>{{ product.dateCreated|date('d/m/Y') }}</td>
                    <td>
                        <span class="label label-info">{{ product.category|length }}</span>
                    </td>
                    <td>
                        <span class="label label-info">{{ product.supplier|length }}</span>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"></i>&nbsp;Actions&nbsp;<i class="fa fa-caret-down"></i></button>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('store_backend_product_view',{'id' : product.id,'name' : product.title}) }}"><i class="fa fa-search"></i>Voir</a></li>
                                <li><a href="{{ path('store_backend_product_edit',{'id' : product.id }) }}"><i class="fa fa-pencil"></i>Editer</a></li>
                                <li><a href="{{ path('store_backend_product_delete',{id: product.id}) }}"><i class="fa fa-times"></i>Supprimer</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% else %}
                <div class="alert alert-dark">Aucunes pages product.</div>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="application/javascript">
    $('.activate-product').on('click', function(e){
        e.preventDefault();
        var $link = $(this).children('a');
        $.ajax({
            url : $link.attr('href') }).done(function(response){
            var new_active = response.data == 1 ? 0 : 1;
            console.log($link.attr('href', $link.attr('href').slice(0,-1) + new_active));
                $link.children().toggleClass('fa fa-check');
                $link.children().toggleClass('fa fa-times');

        });
    });
    </script>
{% endblock %}