{% extends 'StoreBackendBundle::layout.html.twig' %}
{% block classtitle %}bookmark{% endblock %}
{% block titlepage %}
    &nbsp;&nbsp;Liste de mes produits
{% endblock %}

{% block content %}
    <div class="row-fluid clearfix padding-sm no-padding-hr">
        <a href="{{ path("store_backend_product_new") }}" class="btn btn-danger pull-right btn-labeled">
            Ajouter un produit
        </a>
    </div>
<div class="table-primary table table-bordered">
    <div class="table-info">
        <span>Total: {{ products.getTotalItemCount }}</span>
        <table class="table table-bordered text-center dataTable" style=" word-wrap: break-word;">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(products, 'id', 'p.id') }}</th>
                <th>{{ knp_pagination_sortable(products, 'Reférence', 'p.ref') }}</th>
                <th>{{ knp_pagination_sortable(products, 'Titre', 'p.title') }}</th>
                <th>{{ knp_pagination_sortable(products, 'Résumé', 'p.summary') }}</th>
                <th>{{ knp_pagination_sortable(products, 'Prix', 'p.price') }}</th>
                <th>{{ knp_pagination_sortable(products, 'Quantité', 'p.quantity') }}</th>
                <th>{{ knp_pagination_sortable(products, 'Activé', 'p.active') }}</th>
                <th>{{ knp_pagination_sortable(products, 'Visible', 'p.cover') }}</th>
                <th>{{ knp_pagination_sortable(products, 'Date Actif', 'p.dateCreated') }}</th>
                <th>Categories</th>
                <th>Fournisseurs</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody style="word-break: break-all;">
            {% for product in products %}
                <tr>
                    <td>
                        <a href="{{ path('store_backend_product_view',{'id' : product.id,'name' : product.title}) }}">{{ product.id }}</a>
                    </td>
                    <td>
                        {{ product.ref }}
                    </td>
                    <td>
                        <a href="{{ path('store_backend_product_view',{'id' : product.id,'name' : product.title}) }}">{{ product.title }}</a>
                    </td>
                    <td class="col-md-3">{{ product.summary | striptags }}</td>
                    <td>
                        <strong>{{ product.price }} € ~</strong>
                        <br/>
                        <strong>{{ product.taxe }}</strong> %
                    </td>
                    <td>{{ product.quantity }}</td>
                    <td class="activable-element">
                        {% set path_a = path('store_backend_product_activate',{id : product.id,active: 1}) %}
                        {% set path_b = path('store_backend_product_activate',{id : product.id,active: 0}) %}
                        {{  product.active|active(path_a, path_b)|raw }}
                    </td>
                    <td class="activable-element">
                        {% if product.cover %}
                            <a href="{{ path('store_backend_product_cover',{id : product.id,cover: 0}) }}"
                               data-url="{{ path('store_backend_product_cover',{id : product.id,cover: 1}) }}">
                                <i class="fa fa-star"></i>
                            </a>
                        {% else %}
                            <a href="{{ path('store_backend_product_cover',{id : product.id, cover: 1}) }}"
                               data-url="{{ path('store_backend_product_cover',{id : product.id,cover: 0}) }}" >
                                <i class="fa fa-star-o"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td>{{ product.dateCreated|date('d/m/Y') }}</td>
                    <td>
                        <span class="label label-info">{{ product.category|length }} categorie(s)</span>
                    </td>
                    <td>
                        <span class="label label-info">{{ product.supplier|length }} fournisseur(s)</span>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"></i>&nbsp;Actions&nbsp;<i class="fa fa-caret-down"></i></button>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('store_backend_product_view',{id : product.id, name : product.title }) }}"><i class="fa fa-search"></i>Voir</a></li>
                                <li><a href="{{ path('store_backend_product_edit',{id : product.id }) }}"><i class="fa fa-pencil"></i>Editer</a></li>
                                <li><a href="{{ path('store_backend_product_delete',{id: product.id}) }}"><i class="fa fa-times"></i>Supprimer</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% else %}
                <div class="alert alert-dark">Aucunes pages product.</div>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-center navigation">
            {{ knp_pagination_render(products) }}
        </div>
    </div>
</div>

{% endblock %}
{% block javascript %}
    {{ parent() }}
    <script type="application/javascript">

    </script>
{% endblock %}