{% extends 'StoreBackendBundle::layout.html.twig' %}
{% block classtitle %}bookmark{% endblock %}
{% block titlepage %}
    Ajouter un Produit
{% endblock %}
{% block content %}
    {#Creation du formulaire avec label, input et message d'erreur, la fonction form fait aussi le café #}
    {#{{ form(form) }}#}
    {#equivalent à form->create() sur cakephp#}
    {#{{ form_start(form) }}#}
    {#{{ form_label(form.ref) }} &#123;&#35; Permet de sortir un label d'un champ form &#35;&#125;#}
    {#{{ form_widget(form.ref) }} &#123;&#35; Permet de sortir un input d'un champ form &#35;&#125;#}
    {#{{ form_errors(form.ref) }} &#123;&#35; Permet de sortir les erreurs sur un champ du form&#35;&#125;#}
    {#{{ form_row(form.ref) }} &#123;&#35; Permet de sortir d'un coup les 3 actions précédentes (label + widget + errors)&#35;&#125;#}


    <div class="row">
        <div class="col-md-6">{{ form_row(form.ref) }}</div>
        <div class="col-md-6">{{ form_row(form.title) }}</div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-6">{{ form_row(form.summary) }}</div>
        <div class="col-md-6">{{ form_row(form.description) }}</div>
    </div>
    <hr/>
    <div class="row">
        <div class="form-group">
            <div class="col-md-4">
                {{ form_row(form.price) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.quantity) }}
            </div>
            <div class="col-md-4">
                {{ form_row(form.taxe) }}
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6 text-center">{{ form_row(form.active) }}</div>
        <div class="col-md-6 text-center">{{ form_row(form.cover) }}</div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">{{ form_row(form.category) }}</div>
        <div class="col-md-6">{{ form_row(form.cms) }}</div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">{{ form_row(form.supplier) }}</div>
        <div class="col-md-6">{{ form_row(form.tag) }}</div>
    </div>
    <hr/>
    {{ form_widget(form.envoyer,{'attr' : {'class' : 'pull-right btn btn-lg btn btn-primary'}}) }}
    {{ form_widget(form._token) }}
    {{ form_end(form,{'render_rest' : false}) }} {# permet d'ajouter le button envoyer et 'render_rest' empèche l'affichage des autres fields#}

{% endblock %}

