{% extends 'StoreBackendBundle::layout.html.twig' %}
{% block javascript %}
    {{ parent() }}
    <script type="application/javascript">
        init.push(function () {
            $('#dashboard-recent .panel-body > div').slimScroll({ height: 300, alwaysVisible: true, color: '#888',allowPageScroll: true });
        })
    </script>
{% endblock %}
{% block classtitle %}
    dashboard
{% endblock %}
{% block titlepage %}
    Dashboard
{% endblock %}

{#
Afficher les stats en nb.
Afficher les catégories avec nb de produits de la boutique#}
{#Message d'alert si la boutique a des produits avec 0 quantité en dasboard#}
{#Afficher les 5 derniers commentaires des produits de la boutique#}
{#Afficher les 3 derniers messages avec lightbox sur le message en entier#}
{#Afficher les 5 dernières commandes avec adresse totale etat(0 = erreur, 1 = accepté et 2 = livré)#}
{#afficher le chiffre total selon les commandes
#}

{% block content %}
    <div class="row">
    <div class="col-md-8">
        <!-- 5. $UPLOADS_CHART =============================================================================

                        Uploads chart
        -->

        <div class="stat-panel">
            <div class="stat-row">
                <!-- Small horizontal padding, bordered, without right border, top aligned text -->
                <div class="stat-cell col-sm-4 padding-sm-hr bordered no-border-r valign-top">
                    <!-- Small padding, without top padding, extra small horizontal padding -->
                    <h4 class="padding-sm no-padding-t padding-xs-hr"><i class="fa fa-cloud text-primary"></i>&nbsp;&nbsp;Statistiques</h4>
                    <!-- Without margin -->
                    <ul class="list-group no-margin">
                        <!-- Without left and right borders, extra small horizontal padding, without background, no border radius -->
                        <li class="list-group-item no-border-hr padding-xs-hr no-bg no-border-radius">
                            Bijoux <span class="label label-pa-purple pull-right">{{ nbrprods |default('0') }} bijou(x)</span>
                        </li> <!-- / .list-group-item -->
                        <!-- Without left and right borders, extra small horizontal padding, without background -->
                        <li class="list-group-item no-border-hr padding-xs-hr no-bg">
                            Fournisseurs <span class="label label-danger pull-right">{{ nbrsuppliers }} fournisseur(s)</span>
                        </li> <!-- / .list-group-item -->
                        <!-- Without left and right borders, without bottom border, extra small horizontal padding, without background -->
                        <li class="list-group-item no-border-hr no-border-b padding-xs-hr no-bg">
                            Categories <span class="label label-success pull-right">{{ nbrcats }} catégorie(s)</span>
                        </li> <!-- / .list-group-item -->
                        <li class="list-group-item no-border-hr no-border-b padding-xs-hr no-bg">
                            Pages cms <span class="label label-info pull-right">{{ nbrpages }} page(s)</span>
                        </li> <!-- / .list-group-item -->
                        <li class="list-group-item no-border-hr no-border-b padding-xs-hr no-bg">
                            Commentaires <span class="label label-warning pull-right">{{ nbrcoms }} commentaire(s)</span>
                        </li> <!-- / .list-group-item -->
                        <li class="list-group-item no-border-hr no-border-b padding-xs-hr no-bg">
                            Commandes <span class="label label-primary pull-right">{{ nbrorders }} commande(s)</span>
                        </li> <!-- / .list-group-item -->
                    </ul>
                </div> <!-- /.stat-cell -->
                <!-- Primary background, small padding, vertically centered text -->
                <div class="stat-cell col-sm-8 bg-primary padding-sm valign-middle">
                    <div id="hero-graph" class="graph" style="height: 230px;"><svg height="230" version="1.1" width="660" xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;"><desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.1.2</desc><defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs><text x="25.875" y="191" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan></text><path fill="none" stroke="#ffffff" d="M38.375,191H635" stroke-opacity="0.5" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="25.875" y="149.5" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">5</tspan></text><path fill="none" stroke="#ffffff" d="M38.375,149.5H635" stroke-opacity="0.5" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="25.875" y="108" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">10</tspan></text><path fill="none" stroke="#ffffff" d="M38.375,108H635" stroke-opacity="0.5" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="25.875" y="66.49999999999999" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="3.999999999999986" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">15</tspan></text><path fill="none" stroke="#ffffff" d="M38.375,66.49999999999999H635" stroke-opacity="0.5" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="25.875" y="25" text-anchor="end" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">20</tspan></text><path fill="none" stroke="#ffffff" d="M38.375,25H635" stroke-opacity="0.5" stroke-width="0.5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text x="635" y="203.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Mar 16</tspan></text><text x="535.5625" y="203.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Mar 15</tspan></text><text x="436.12499999999994" y="203.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Mar 14</tspan></text><text x="336.6875" y="203.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Mar 13</tspan></text><text x="237.24999999999997" y="203.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Mar 12</tspan></text><text x="137.8125" y="203.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Mar 11</tspan></text><text x="38.375" y="203.5" text-anchor="middle" font="10px &quot;Arial&quot;" stroke="none" fill="#ffffff" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: 12px; line-height: normal; font-family: sans-serif;" font-size="12px" font-family="sans-serif" font-weight="normal" transform="matrix(1,0,0,1,0,7)"><tspan dy="4" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Mar 10</tspan></text><path fill="none" stroke="#ffffff" d="M38.375,25C63.234375,45.75,112.953125,102.8125,137.8125,108C162.671875,113.1875,212.39062499999997,68.57499999999999,237.24999999999997,66.49999999999999C262.109375,64.42499999999998,311.828125,81.02499999999999,336.6875,91.39999999999999C361.546875,101.77499999999999,411.26562499999994,142.2375,436.12499999999994,149.5C460.98437499999994,156.76250000000002,510.703125,165.0625,535.5625,149.5C560.421875,133.9375,610.140625,56.125,635,25" stroke-width="2" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><circle cx="38.375" cy="25" r="7" fill="#ffffff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="137.8125" cy="108" r="4" fill="#ffffff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="237.24999999999997" cy="66.49999999999999" r="4" fill="#ffffff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="336.6875" cy="91.39999999999999" r="4" fill="#ffffff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="436.12499999999994" cy="149.5" r="4" fill="#ffffff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="535.5625" cy="149.5" r="4" fill="#ffffff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle><circle cx="635" cy="25" r="4" fill="#ffffff" stroke="#ffffff" stroke-width="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle></svg><div class="morris-hover morris-default-style" style="left: 0px; top: 35px;"><div class="morris-hover-row-label">2014-03-10</div><div class="morris-hover-point" style="color: #fff">
                                Value:
                                20
                            </div></div></div>
                </div>
            </div>
        </div> <!-- /.stat-panel -->
        <!-- /5. $UPLOADS_CHART -->

        <!-- 6. $EASY_PIE_CHARTS ===========================================================================

                        Easy Pie charts
        -->

        <div class="row">
            <div class="col-xs-4">
                <!-- Centered text -->
                <div class="stat-panel text-center">
                    <div class="stat-row">
                        <!-- Dark gray background, small padding, extra small text, semibold text -->
                        <div class="stat-cell bg-dark-gray padding-sm text-xs text-semibold">
                            <i class="fa fa-globe"></i>&nbsp;&nbsp;Fichiers complétés de bijoux
                        </div>
                    </div> <!-- /.stat-row -->
                    <div class="stat-row">
                        <!-- Bordered, without top border, without horizontal padding -->
                        <div class="stat-cell bordered no-border-t no-padding-hr">
                            <div class="pie-chart" data-percent="43" id="easy-pie-chart-1">
                                <div class="pie-chart-label">12.3TB</div>
                                <canvas height="90" width="90"></canvas></div>
                        </div>
                    </div> <!-- /.stat-row -->
                </div> <!-- /.stat-panel -->
            </div>
            <div class="col-xs-4">
                <div class="stat-panel text-center">
                    <div class="stat-row">
                        <!-- Dark gray background, small padding, extra small text, semibold text -->
                        <div class="stat-cell bg-dark-gray padding-sm text-xs text-semibold">
                            <i class="fa fa-flash"></i>&nbsp;&nbsp;Fichies référencés de bijoux
                        </div>
                    </div> <!-- /.stat-row -->
                    <div class="stat-row">
                        <!-- Bordered, without top border, without horizontal padding -->
                        <div class="stat-cell bordered no-border-t no-padding-hr">
                            <div class="pie-chart" data-percent="93" id="easy-pie-chart-2">
                                <div class="pie-chart-label">93%</div>
                                <canvas height="90" width="90"></canvas></div>
                        </div>
                    </div> <!-- /.stat-row -->
                </div> <!-- /.stat-panel -->
            </div>
            <div class="col-xs-4">
                <div class="stat-panel text-center">
                    <div class="stat-row">
                        <!-- Dark gray background, small padding, extra small text, semibold text -->
                        <div class="stat-cell bg-dark-gray padding-sm text-xs text-semibold">
                            <i class="fa fa-cloud"></i>&nbsp;&nbsp;Bijoux liés à une page cms
                        </div>
                    </div> <!-- /.stat-row -->
                    <div class="stat-row">
                        <!-- Bordered, without top border, without horizontal padding -->
                        <div class="stat-cell bordered no-border-t no-padding-hr">
                            <div class="pie-chart" data-percent="75" id="easy-pie-chart-3">
                                <div class="pie-chart-label">12GB</div>
                                <canvas height="90" width="90"></canvas></div>
                        </div>
                    </div> <!-- /.stat-row -->
                </div> <!-- /.stat-panel -->
            </div>
        </div>
    </div>
    <!-- /6. $EASY_PIE_CHARTS -->

    <div class="col-md-4">
        <div class="row">

            <!-- 7. $EARNED_TODAY_STAT_PANEL ===================================================================

                                Earned today stat panel
            -->
            <div class="col-sm-4 col-md-12">
                <div class="stat-panel">
                    <!-- Danger background, vertically centered text -->
                    <div class="stat-cell bg-danger valign-middle">
                        <!-- Stat panel bg icon -->
                        <i class="fa fa-trophy bg-icon"></i>
                        <!-- Extra large text -->
                        <span class="text-xlg"><span class="text-lg text-slim">$</span><strong>{{ totalmoney|round(2) }}</strong></span><br>
                        <!-- Big text -->
                        <span class="text-bg">Chiffre d'affaire</span><br>
                        <!-- Small text -->
                        <span class="text-sm"><a href="#">Depuis votre inscription </a></span>
                    </div> <!-- /.stat-cell -->
                </div> <!-- /.stat-panel -->
            </div>
            <!-- /7. $EARNED_TODAY_STAT_PANEL -->


            <!-- 8. $commentaires_GRAPH_STAT_PANEL =================================================================

                                commentaires graph stat panel
            -->
            <div class="col-sm-4 col-md-12">

                <div class="stat-panel">
                    <div class="stat-row">
                        <!-- Purple background, small padding -->
                        <div class="stat-cell bg-pa-purple padding-sm">
                            <!-- Extra small text -->
                            <div class="text-lg" style="margin-bottom: 5px;">COMMENTAIRES</div>
                            <div class="stats-sparklines" id="stats-sparklines-3" style="width: 100%"><canvas width="476" height="45" style="display: inline-block; width: 476px; height: 45px; vertical-align: top;"></canvas></div>
                        </div>
                    </div> <!-- /.stat-row -->
                    <div class="stat-row">
                        <!-- Bordered, without top border, horizontally centered text -->
                        <div class="stat-counters bordered no-border-t text-center">
                            <!-- Small padding, without horizontal padding -->
                            <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                                <!-- Big text -->
                                <span class="text-bg"><strong>{{ coms_active }}</strong></span><br>
                                <!-- Extra small text -->
                                <span class="text-xs text-muted">Actif</span>
                            </div>
                            <!-- Small padding, without horizontal padding -->
                            <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                                <!-- Big text -->
                                <span class="text-bg"><strong>{{ coms_pending }}</strong></span><br>
                                <!-- Extra small text -->
                                <span class="text-xs text-muted">EN COURS</span>
                            </div>
                            <!-- Small padding, without horizontal padding -->
                            <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                                <!-- Big text -->
                                <span class="text-bg"><strong>{{ coms_inactive }}</strong></span><br>
                                <!-- Extra small text -->
                                <span class="text-xs text-muted">INNACTIFS</span>
                            </div>
                        </div> <!-- /.stat-counters -->
                    </div> <!-- /.stat-row -->
                </div> <!-- /.stat-panel -->
            </div>
            <!-- /8. $commentaires_GRAPH_STAT_PANEL -->

            <!-- 9. $UNIQUE_VISITORS_STAT_PANEL ================================================================

                                Unique visitors stat panel
            -->
            <div class="col-sm-4 col-md-12">

                <div class="stat-panel">
                    <div class="stat-row">
                        <div class="stat-cell bg-success valign-middle">
                            <!-- Stat panel bg icon -->
                            <i class="fa fa-star bg-icon"></i>
                            <!-- Extra large text -->
                            <span class="text-xlg"><span class="text-lg text-slim"></span><strong>{{ likes }}</strong></span><br>
                            <!-- Big text -->
                            <span class="text-bg">Likes</span><br>
                            <!-- Small text -->
                            <span class="text-sm"><a href="#">Sur tout les produits</a></span>
                        </div> <!-- /.stat-cell -->
                    </div> <!-- /.stat-row -->
                    <div class="stat-row">
                        <!-- success background, small padding, without top padding, horizontally centered text -->
                        <div class="stat-cell bg-success padding-sm no-padding-t text-center">
                            <div id="stats-sparklines-2" class="stats-sparklines" style="width: 100%"><canvas width="448" height="36" style="display: inline-block; width: 448px; height: 36px; vertical-align: top;"></canvas></div>
                        </div>
                    </div> <!-- /.stat-row -->
                </div> <!-- /.stat-panel -->
            </div>
        </div>
    </div>
    </div>
    <hr class="no-grid-gutter-h grid-gutter-margin-b no-margin-t">
    <div class="row">

    <!-- 10. $SUPPORT_TICKETS ==========================================================================

                Support tickets
    -->


    <div class="col-md-6">
        <div class="panel panel-success widget-support-tickets" id="dashboard-support-tickets">
            <div class="panel-heading">
                <span class="panel-title"><i class="panel-title-icon fa fa-shopping-cart"></i>Dernières commandes</span>
                <div class="panel-heading-controls">
                    <div class="panel-heading-text"><a href="#">
                            {%  set count_ord_p = 0 %}
                            {% for order in orders %}
                                {% if order.state == 1 %}
                                    {% set count_ord_p = count_ord_p + 1 %}
                                {% endif %}{% endfor %}{{ count_ord_p }} new orders</a></div>
                </div>
            </div> <!-- / .panel-heading -->
            <div class="panel-body tab-content-padding">
                <!-- Panel padding, without vertical padding -->
                        {% for order in orders %}
                                <div class="ticket">
                                    {% if order.state == 0 %}
                                        <span class="label label-danger ticket-label">Rejected</span>
                                    {% elseif order.state == 1 %}
                                        <span class="label label-warning ticket-label">Pending</span>
                                    {% elseif order.state == 2 %}
                                        <span class="label label-success ticket-label">Completed</span>
                                    {% endif %}
                                <a href="#" title="" class="ticket-title">Mobile App Problem<span>[#{{ order.id }}]</span></a>
								<span class="ticket-info">
									Ordered by <a href="#">{{ order.user.firstname ~' '~ order.user.lastname }}</a> in {{ order.address }}
                                    for {{ order.total }}€
								</span>
                            </div> <!-- / .ticket -->
                        {%  endfor %}
                    </div></div>
            </div> <!-- / .panel-body -->
        </div> <!-- / .panel -->
    </div>
    <!-- /10. $SUPPORT_TICKETS -->

    <!-- 11. $RECENT_ACTIVITY ==========================================================================

                Recent activity
    -->

        <div class="col-md-6">
            <div class="panel panel-warning" id="dashboard-recent">
                <div class="panel-heading">
                    <span class="panel-title"><i class="panel-title-icon fa fa-comments text-danger"></i>Latest Comments</span>
                    <ul class="nav nav-tabs nav-tabs-xs">
                        <li class="active">
                            <a href="#dashboard-active-comments" data-toggle="tab">Actifs</a>
                        </li>
                        <li>
                            <a href="#dashboard-pending-comments" data-toggle="tab">En cours de modération</a>
                        </li>
                        <li>
                            <a href="#dashboard-disabled-comments" data-toggle="tab">Inactifs</a>
                        </li>
                    </ul>
                </div> <!-- / .panel-heading -->
                <div class="tab-content">

                    <!-- Comments widget -->

                    <!-- Without padding -->
                    <div class="widget-comments panel-body tab-pane no-padding fade active in" id="dashboard-active-comments">
                        <!-- Panel padding, without vertical padding -->
                        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 300px;"><div class="panel-padding no-padding-vr" style="overflow: hidden; width: auto; height: 300px;">
                                {% for com in coms %}
                                    {% if com.state == 1 %}
                                        <div class="comment">
                                            <img src="assets/demo/avatars/5.jpg" alt="" class="comment-avatar">
                                            <div class="comment-body">
                                                <div class="comment-by">
                                                    <a href="#" title="">{{ com.user.firstname ~' '~ com.user.lastname }}</a>
                                                    commented on
                                                    <a href="{{ path('store_backend_product_view',{id: com.product.id, name: com.product.title}) }}" title="">
                                                        {{ com.product.title }}
                                                    </a>
                                                </div>
                                                <div class="comment-text">
                                                    {{ com.content }}
                                                </div>
                                                <div class="comment-actions">
                                                    <a href="#"><i class="fa fa-pencil"></i>Edit</a>
                                                    <a href="#"><i class="fa fa-times"></i>Remove</a>
                                                    <span class="pull-right">{{ com.dateCreated|date('d/m/Y h:i') }}</span>
                                                </div>
                                            </div> <!-- / .comment-body -->
                                        </div> <!-- / .comment -->
                                    {% endif %}
                                {% endfor %}
                            </div></div>
                    </div> <!-- / .widget-comments -->

                    <!-- Threads widget -->

                    <!-- Without padding -->
                    <div class="widget-comments panel-body tab-pane no-padding fade" id="dashboard-pending-comments">
                        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 300px;"><div class="panel-padding no-padding-vr" style="overflow: hidden; width: auto; height: 300px;">
                                {% for com in coms %}
                                    {% if com.state == 0 %}
                                        <div class="comment">
                                            <img src="assets/demo/avatars/5.jpg" alt="" class="comment-avatar">
                                            <div class="comment-body">
                                                <div class="comment-by">
                                                    <a href="#" title="">{{ com.user.firstname ~' '~ com.user.lastname }}</a>
                                                    commented on
                                                    <a href="{{ path('store_backend_product_view',{id: com.product.id, name: com.product.title}) }}" title="">
                                                        {{ com.product.title }}
                                                    </a>
                                                </div>
                                                <div class="comment-text">
                                                    {{ com.content }}
                                                </div>
                                                <div class="comment-actions">
                                                    <a href="#"><i class="fa fa-pencil"></i>Edit</a>
                                                    <a href="#"><i class="fa fa-times"></i>Remove</a>
                                                    <span class="pull-right">{{ com.dateCreated|date('d/m/Y h:i') }}</span>
                                                </div>
                                            </div> <!-- / .comment-body -->
                                        </div> <!-- / .comment -->
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div> <!-- / .panel-body -->

                    <div class="widget-comments panel-body tab-pane no-padding fade" id="dashboard-disabled-comments">
                        <!-- Panel padding, without vertical padding -->
                        <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 300px;"><div class="panel-padding no-padding-vr" style="overflow: hidden; width: auto; height: 300px;">
                                {% for com in coms %}
                                    {% if com.state == 2 %}
                                        <div class="comment">
                                            <img src="assets/demo/avatars/5.jpg" alt="" class="comment-avatar">
                                            <div class="comment-body">
                                                <div class="comment-by">
                                                    <a href="#" title="">{{ com.user.firstname ~' '~ com.user.lastname }}</a>
                                                    commented on
                                                    <a href="{{ path('store_backend_product_view',{id: com.product.id, name: com.product.title}) }}" title="">
                                                        {{ com.product.title }}
                                                    </a>
                                                </div>
                                                <div class="comment-text">
                                                    {{ com.content }}
                                                </div>
                                                <div class="comment-actions">
                                                    <a href="#"><i class="fa fa-pencil"></i>Edit</a>
                                                    <a href="#"><i class="fa fa-times"></i>Remove</a>
                                                    <span class="pull-right">{{ com.dateCreated|date('d/m/Y h:i') }}</span>
                                                </div>
                                            </div> <!-- / .comment-body -->
                                        </div> <!-- / .comment -->
                                    {% endif %}
                                {% endfor %}
                            </div></div>
                    </div> <!-- / .widget-comments-inactifs -->
                </div>
            </div> <!-- / .widget-threads -->
        </div>
        <!-- /11. $RECENT_ACTIVITY -->
    </div>
    <hr class="no-grid-gutter-h grid-gutter-margin-b no-margin-t">
    <div class="row">

        <!-- 8. $MESSAGES_LIST_ALT =========================================================================

                        Alt messages list
        -->
        <div class="widget-messages-alt col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <span class="panel-title"><i class="panel-title-icon fa fa-envelope"></i>Messages</span>
                </div> <!-- / .panel-heading -->
                <div class="panel-body padding-sm">
                    <div class="messages-list">
                        {% for msg in msgs %}
                            <div class="message">
                                <img src="assets/demo/avatars/2.jpg" alt="" class="message-avatar">
                                <a href="#" class="message-subject">{{ msg.title }}</a>
                                <div class="message-description">
                                    from <a href="#">{{ msg.user.firstname ~' '~ msg.user.lastname }}</a>
                                    <p>{{ msg.content }}</p>
                                    &nbsp;&nbsp;·&nbsp;&nbsp;
                                    {{ msg.dateCreated | date('d/m/Y h:i') }}
                                    &nbsp;&nbsp;·&nbsp;&nbsp;
                                    {% if msg.state == 0 %}
                                        <span class="label label-default pull-right">Désactivé</span>
                                    {% elseif msg.state == 1 %}
                                        <span class="btn btn-primary label label-primary pull-right">Lire</span>
                                    {% elseif msg.state == 2 %}
                                        <span class="label label-success pull-right">Lu</span>
                                    {% endif %}
                                </div> <!-- / .message-description -->
                            </div> <!-- / .message -->
                        {% endfor %}
                    </div> <!-- / .messages-list -->
                    <a href="#" class="messages-link">MORE MESSAGES</a>
                </div> <!-- / .panel-body -->
            </div> <!-- / .panel -->
        </div> <!-- / .widget-messages-alt col-md-6 -->
        <!-- /8. $MESSAGES_LIST_ALT -->

        <!-- 9. $STRIPED_TABLES ============================================================================
                        Striped tables
        -->
        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <span class="panel-title"><i class="panel-title-icon fa fa-star"></i>Categories</span>
                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nom</th>
                            <th>Nombre de produits</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for category in categories %}
                        <tr>
                            <td>{{ category['category'].id }}</td>
                            <td>{{ category['category'].title }}</td>
                            <td><span class="badge badge-info">{{ category['count_product']}}</span></td>
                            <td>
                                <div class="col-sm-auto">
                                    <a href="{{ path('store_backend_category_view',{id: category['category'].id, name: category['category'].title}) }}" class="btn btn-success btn-labeled" style="width: 100%;">
                                        <span class="btn-label icon fa fa-search"></span>Voir categorie
                                    </a>
                                </div>
                            </td>
                        </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <hr class="no-grid-gutter-h grid-gutter-margin-b no-margin-t">
    <div class="row">
        <!-- /9. $STRIPED_TABLES -->

        <div class="col-md-6">
            <div class="panel panel-success widget-support-tickets" id="dashboard-support-tickets">
                <div class="panel-heading">
                    <span class="panel-title"><i class="panel-title-icon fa fa-dollar"></i>Promotions et Réduction</span>
                </div> <!-- / .panel-heading -->
                <div class="panel-body tab-content-padding">
                    <!-- Panel padding, without vertical padding -->
                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 300px;"><div class="panel-padding no-padding-vr" style="overflow: hidden; width: auto; height: 300px;">
                            {% for order in orders %}
                                <div class="ticket">
                                        <span class="label label-success ticket-label"><i class="fa fa-check"></i>-10%</span>
                                    <a href="#" title="" class="ticket-title">Product name<span>[#{{ order.id }}]
                                            <span class="label">75€</span>
                                        </span></a>
								<span class="ticket-info">
                                    <span>promotion or reduction</span>
								</span>
                                </div> <!-- / .ticket -->
                            {%  endfor %}
                        </div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-top-left-radius: 7px; border-top-right-radius: 7px; border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);"></div></div>
                </div> <!-- / .panel-body -->
            </div> <!-- / .panel -->
        </div>
        <div class="col-md-6">

            <!-- 7. $PROFILE_WIDGET_CENTERED_EXAMPLE ===========================================================

                            Profile widget - Centered example
            -->
            <div class="panel panel-danger panel-dark panel-body-colorful widget-profile widget-profile-centered">
                <div class="panel-heading">
                    <img src="assets/demo/avatars/1.jpg" alt="" class="widget-profile-avatar">
                    <div class="widget-profile-header">
                        <span>Boutique de username</span><br>
                        <a href="https://twitter.com/test">https://twitter.com/test</a>
                    </div>
                </div> <!-- / .panel-heading -->
                <div class="panel-body">
                    <div class="widget-profile-text" style="padding: 0;">
                        phone icone : 06 02 10 12 12
                        email icon : julien@email.com
                        http://www.google.com
                        26 rue des chips et cacahuètes grillés
                        Lyon
                        link icone : url 1
                        link icone : url 2
                    </div>
                </div>
            </div> <!-- / .panel -->
            <!-- /7. $PROFILE_WIDGET_CENTERED_EXAMPLE -->

        </div>
    </div>

    {#add widget google map#}

{% endblock %}