{% extends 'StoreBackendBundle::layout.html.twig' %}
{% block classtitle %}user{% endblock %}
{% block titlepage %}
    Ma boutique
{% endblock %}
{% block content %}

    <!-- 5. $PROFILE ===================================================================================

		Profile
-->
    <div class="profile-full-name">
        Boutique de <span class="text-semibold">{{ jeweler.username }}</span>
    </div>
    <div class="profile-row">
        <div class="left-col">
            <div class="profile-block">
                <div class="panel profile-photo">
                    <img src="{{ jeweler.image }}" alt="">
                </div><br>
                <a href="#" class="btn btn-info"><i class="fa fa-star"></i>&nbsp;{{ likes }}</a>
                <a href="#" class="btn btn-success"><i class="fa fa-shopping-cart"></i>&nbsp;{{ nbrorders }}</a>
                <a href="#" class="btn btn-danger"><i class="fa fa-plane"></i>&nbsp;{{ nbrsuppliers }}</a>
            </div>

            <div class="panel panel-transparent">
                <div class="panel-heading">
                    <span class="panel-title"><i class="fa fa-pencil"></i>&nbsp;Description</span>
                </div>
                <div class="panel-body">
                    {{ jeweler.description }}
                </div>
            </div>

            <div class="panel panel-transparent">
                <div class="panel-heading">
                    <span class="panel-title"><i class="fa fa-bar-chart-o"></i>&nbsp;Stats</span>
                </div>
                <div class="list-group">
                    <a href="#" class="list-group-item"><strong class="badge badge-info" >{{ nbrprods }}</strong> Produits</a>
                    <a href="#" class="list-group-item"><strong class="badge badge-info">{{ nbrpages }}</strong> Pages</a>
                    <a href="#" class="list-group-item"><strong class="badge badge-info">{{ nbrcats }}</strong> Catégories</a>
                </div>
            </div>

            {% if tags is not empty %}
            <div class="panel panel-transparent profile-skills">
                <div class="panel-heading">
                    <span class="panel-title">Mots-clefs</span>
                </div>
                    <div class="panel-body">
                        {% for tag in tags %}
                            <span class="label label-primary">{{ tag.word }}</span>
                        {% endfor %}
                    </div>
            </div>
            {% endif %}

            <div class="panel panel-transparent">
                <div class="panel-heading">
                    <span class="panel-title">Liens utiles</span>
                </div>
                <div class="list-group">
                    {% if  jeweler_meta.littlemarket is defined %}
                    <a href="{{ jeweler_meta.littlemarket }}" class="list-group-item">
                        <i class="profile-list-icon fa fa-dollar" style="color: #4ab6d5">
                        </i> LittleMarket
                    </a>
                    {% endif %}
                    {% if jeweler_meta.dawanda is defined %}
                    <a href="{{ jeweler_meta.dawanda }}" class="list-group-item">
                        <i class="profile-list-icon fa fa-paperclip" style="color: #1a7ab9">
                        </i> Dawanda
                    </a>
                    {% endif %}
                    {% if jeweler_meta.website is defined %}
                    <a href="{{ jeweler_meta.website }}" class="list-group-item">
                        <i class="profile-list-icon fa fa-share-square" style="color: #888">
                        </i> Site web
                    </a>
                    {% endif %}
                </div>
            </div>

        </div>
        <div class="right-col">

            <hr class="profile-content-hr no-grid-gutter-h">

            <div class="profile-content">

                <ul id="profile-tabs" class="nav nav-tabs">
                    <li class="active">
                        <a href="#profile-tabs-board" data-toggle="tab">{{ nbrorders }} Commandes</a>
                    </li>
                    <li>
                        <a href="#profile-tabs-activity" data-toggle="tab">{{ nbrcoms }} Commentaires</a>
                    </li>
                    <li>
                        <a href="#profile-tabs-followers" data-toggle="tab">{{ nbrmsgs }} Messages</a>
                    </li>
                    <li>
                        <a href="#profile-tabs-following" data-toggle="tab">Mes informations</a>
                    </li>
                </ul>


                <div class="tab-content tab-content-bordered panel-padding">
                    {#date,address,total,state, product (collection), user#}
                    {#Orders#}
                    <div class="widget-article-comments tab-pane panel no-padding no-border fade in active" id="profile-tabs-board">
                        {% for order in orders %}
                            {{ dump(order.product[0]) }}
                            <div class="comment">
                                <div class="comment-body">
                                    <div class="comment-text">
                                        <div class="comment-heading">
                                            <a href="#" title="">{{ order.user.firstname ~ ' ' ~ order.user.lastname }}|{{ order.user.email }}</a><span>{{ order.date.format('d/m/Y') }}</span>
                                        </div>
                                        <p>Total :{{ order.total }}</p>
                                        {% for product in order.product %}
                                            <ul>
                                                <li></li>
                                            </ul>
                                        {% endfor %}
                                        <i class="fa fa-location-arrow"></i>{{ order.address }}
                                    </div>
                                </div> <!-- / .comment-body -->

                            </div> <!-- / .comment -->
                        {% endfor %}
                    </div> <!-- / .tab-pane -->

                    {#coms#}
                    <div class="tab-pane fade" id="profile-tabs-activity">
                        <div class="timeline">
                            <!-- Timeline header -->
                            <div class="tl-header now">Now</div>

                            {% for com in coms %}
                            <div class="tl-entry">
                                <div class="tl-time">
                                    {{ com.dateCreated.format('d/m/y à h:i')|default('now') }}
                                </div>

                                {% if com.state == 0 %}
                                    {% set state = 'success' %}
                                {% elseif com.state == 1 %}
                                    {% set state = 'warning' %}
                                {% elseif com.state == 2 %}
                                    {% set state = 'danger' %}
                                {% endif %}

                                <div class="tl-icon bg-{{ state }}"><i class="fa fa-envelope"></i></div>
                                <div class="panel tl-body">
                                    <h4 class="text-warning">{{ com.product.title }}</h4>
                                    {{ com.content }}
                                </div> <!-- / .tl-body -->
                            </div> <!-- / .tl-entry -->
                            {% endfor %}

                        </div> <!-- / .timeline -->
                    </div> <!-- / .tab-pane -->


                    <div class="tab-pane fade widget-followers" id="profile-tabs-followers">
                        {% for msg in msgs %}
                        <div class="follower">
                            <img src="assets/demo/avatars/1.jpg" alt="" class="follower-avatar">
                            <div class="body">
                                <div class="follower-controls">
                                    {% if msg.state == 1 %}
                                    <a href="#" class="btn btn-sm btn-success"><i class="fa fa-check"></i><span>&nbsp;&nbsp;Lu</span></a>
                                    {% elseif msg.state == 0 %}
                                    <a href="#" class="btn btn-sm btn-warning"><i class="fa fa-times"></i><span>&nbsp;&nbsp;Non lu</span></a>
                                    {% endif %}
                                </div>
                                <a href="#" class="follower-name">{{ msg.user.firstname ~ ' ' ~ msg.user.lastname }}</a>
                                    <br>
                                <a href="#" class="follower-username">{{ msg.user.email }}</a>
                                <h4>{{ msg.title }}</h4>
                                <p>{{ msg.content }}</p>
                                <p>{{ msg.dateCreated.format('d/m/Y à h:i') }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div> <!-- / .tab-pane -->


                    {#Afficher les informations sur la boutique #}
                    <div class="tab-pane fade widget-followers" id="profile-tabs-following">
                        <div class="follower">
                            <img src="assets/demo/avatars/1.jpg" alt="" class="follower-avatar">
                            <div class="body">
                                <div class="follower-controls">
                                    <a href="#" class="btn btn-sm btn-success"><i class="fa fa-check"></i><span>&nbsp;&nbsp;Following</span></a>
                                </div>
                                <a href="#" class="follower-name">John Doe</a><br>
                                <a href="#" class="follower-username">@jdoe</a>
                            </div>
                        </div>
                    </div> <!-- / .tab-pane -->


                </div> <!-- / .tab-content -->
            </div>
        </div>
    </div>

{% endblock %}

