{% extends 'StoreBackendBundle::layout.html.twig' %}
{% block classtitle %}briefcase{% endblock %}
{% block titlepage %}
    Content managing system
{% endblock %}

{% block content %}
    <div class="row-fluid clearfix padding-sm no-padding-hr">
        <a href="{{ path("store_backend_cms_new") }}" class="btn btn-danger pull-right btn-labeled">
            Ajouter une page
        </a>
    </div>
<div class="table-primary table table-bordered">
    <div class="table-info">
        <table class="table table-bordered" style="word-wrap: break-word;">
            <thead>
            <tr>
                <th>id</th>
                <th>titre</th>
                <th>Resumé</th>
                <th>État</th>
                <th>Nombre de produits affectés</th>
                <th>Date création</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody style="word-break: break-all;word-break: break-word;">
            {% for cms in cmss %}
                <tr>
                    <td><a href="{{ path('store_backend_cms_view',{'id' : cms.id,'name' : cms.title}) }}">{{ cms.id }}</a></td>
                    <td><a href="{{ path('store_backend_cms_view',{'id' : cms.id,'name' : cms.title}) }}">{{ cms.title }}</a></td>
                    <td class="col-md-3">{{ cms.summary }}</td>
                    <td class="activable-element">
                        {% if cms.state %}
                            <a href="{{ path('store_backend_cms_activate',{id : cms.id,active: 0}) }}"
                               data-url="{{ path('store_backend_cms_activate',{id : cms.id,active: 1}) }}">
                                <i class="fa fa-check"></i>
                            </a>
                        {% else %}
                            <a href="{{ path('store_backend_cms_activate',{id : cms.id,active: 1}) }}"
                               data-url="{{ path('store_backend_cms_activate',{id : cms.id,active: 0}) }}">
                                <i class="fa fa-crosshairs"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        <span class="label label-info">{{ cms.product|length }} produit(s)</span>
                    </td>
                    <td>{{ cms.dateCreated|date('d/m/Y') }}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"></i>&nbsp;Actions&nbsp;<i class="fa fa-caret-down"></i></button>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('store_backend_cms_view',{id: cms.id, name: cms.title}) }}"><i class="fa fa-search"></i>Voir</a></li>
                                <li><a href="{{ path('store_backend_cms_edit',{id: cms.id}) }}"><i class="fa fa-pencil"></i>Editer</a></li>
                                <li><a href="{{ path('store_backend_cms_delete',{id: cms.id}) }}"><i class="fa fa-times"></i>Supprimer</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% else %}
                <div class="alert alert-dark">Aucunes pages cms.</div>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

